@model MealModel

<form method="post">
    @Html.HiddenFor(x => Model.FoodGuid);
    <div class="form-group">
        <label for="at">At</label>
        <input class="form-control" type="datetime" id="at" asp-for="At" />
    </div>
    <div class="form-group">
        <label for="quantity">Quantity</label>
        <input class="form-control" type="number" min="1" max="100000" id="quantity" asp-for="Quantity" />
    </div>

    <button class="btn btn-primary" type="submit">Save</button>
</form>